<% @page_title = "商品検索" %>
<h1>大倉忠義</h1>
<p>app/views/items/index.html.erb</p>
<% if current_user %>
  <%= link_to "出品する", new_item_path %>
<% end %>
<% if @items.present? %>
  <table class = "itemlist">
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= link_to item.name, item %></td>
          <td><%= item.value %></td>
          <% if item.stock == 0 %>
            <td>売り切れ</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @items %>
<% else %>
  <p>出品物がありません</p>
<% end %>
